<div class="box">
  <div class="box-header">
      <h3 class="box-title">Data Table Provinsi</h3>
  </div>
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-12">
          <table>
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 176.35px;"
                aria-sort="ascending" aria-label="Rendering: activate to sort column descending">
                  Nama
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd" role="row">
                <td><%= %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
