<header class="main-header">
  <a href="#" class="logo">
    <span class="logo-mini"><b>F</b>MSQ</span>
    <span class="fa fa-linode"><b>Find</b>MOSQUE</span>
  </a>
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <%= render 'partial/dropdown' %>
        <%= render 'partial/dropdownuser' %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
