<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="#" alt="User Image" class="img-circle">
      </div>
      <div class="pull-left info">
        <p>SUPER ADMIN</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i>
          Online
        </a>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
